@import "fonts";

$maxWidth:1400;
$minWidth: $maxWidth / 2;
@mixin a-v ($property, $startSize){
  $minSize: $startSize / 2;
  $addSize: $startSize - $minSize;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}));
}
@mixin border ($property, $startSize, $q, $color){
  $minSize: $startSize / 2;
  $addSize: $startSize - $minSize;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth})) $q $color;
}
@mixin border-radius ($property, $startSize1, $startSize2, $startSize3, $startSize4 ){
  $minSize1: $startSize1 / 2;
  $addSize1: $startSize1 - $minSize1;
  $minSize2: $startSize2 / 2;
  $addSize2: $startSize2 - $minSize2;
  $minSize3: $startSize3 / 2;
  $addSize3: $startSize3 - $minSize3;
  $minSize4: $startSize4 / 2;
  $addSize4: $startSize4 - $minSize4;
  #{$property}: calc(#{$minSize1 + px} + #{$addSize1} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth})) calc(#{$minSize2 + px} + #{$addSize2} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth})) calc(#{$minSize3 + px} + #{$addSize3} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth})) calc(#{$minSize4 + px} + #{$addSize4} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}));
}
@mixin shadow ($property, $startSize1, $startSize2, $startSize3, $color){
  $minSize1: $startSize1 / 2;
  $addSize1: $startSize1 - $minSize1;
  $minSize2: $startSize2 / 2;
  $addSize2: $startSize2 - $minSize2;
  $minSize3: $startSize3 / 2;
  $addSize3: $startSize3 - $minSize3;
  #{$property}: calc(#{$minSize1 + px} + #{$addSize1} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth})) calc(#{$minSize2 + px} + #{$addSize2} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth})) calc(#{$minSize3 + px} + #{$addSize3} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth})) $color;
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,*::after,*::before{
  box-sizing:inherit;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
p{
  margin: 0;
}
a{
  // @include shadow("text-shadow", 1, 1, 0, #3C509C);
  color: #6888FF ;
  text-decoration: none;
  background-color: transparent;
}
ul, li{
  list-style: none;
  margin:0;
  padding: 0;
}
img {
  border-style: none;
}
.container{
  @include a-v("width", 1200);
  @include a-v("padding-top", 0);
  @include a-v("padding-right", 0);
  @include a-v("padding-bottom", 0);
  @include a-v("padding-left", 0);
  margin: 0 auto;
}
body{
  @include a-v("font-size", 16);
  @include a-v("line-height", 20);
  font-family: 'Roboto-Regular';
  font-weight: 400;
  color: #555;
  background-color: #F6F1EF;
  margin: 0;
}


.header{
  &__top{
    @include a-v("height", 60);
    @include a-v("padding-top", 17);
    @include a-v("padding-right", 0);
    @include a-v("padding-bottom", 17);
    @include a-v("padding-left", 0);
    width: 100%;
    background-color: #F4744B;
    .container{
      position: relative;
      display: flex;
      justify-content: center;
    }
  }
  &__title{
    @include a-v("font-size", 26);
    @include a-v("line-height", 26);
    font-family: 'Roboto-Bold';
    font-weight: 700;
    color: #F4F4F4;
  }
  &__menu{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 0;
    z-index: 110;
  }
  &__menu-btn{
    @include a-v("width", 36);
    @include a-v("height", 32);
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
  }
  &__menu-btn-line{
    @include a-v("width", 26);
    @include a-v("height", 3);
    @include a-v("border-radius", 2);
    background-color: #F4F4F4;
    position: relative;
  }
  &__menu-btn-line::before{
    content:"";
    position: absolute;
    @include a-v("top", 8);
    @include a-v("width", 26);
    @include a-v("height", 3);
    @include a-v("border-radius", 2);
    background-color: #F4F4F4;
  }
  &__menu-btn-line::after{
    content:"";
    position: absolute;
    @include a-v("bottom", 8);
    @include a-v("width", 26);
    @include a-v("height", 3);
    @include a-v("border-radius", 2);
    background-color: #F4F4F4;
  }

  &__bottom{
    @include a-v("padding-top", 5);
    @include a-v("padding-right", 0);
    @include a-v("padding-bottom", 5);
    @include a-v("padding-left", 0);
    background-color: rgba(232, 74, 17, 0.5);
  }
  &__submenu{
    @include a-v("height", 30);
    @include a-v("line-height", 16);
    height: 100%;
    ul{
      display: flex;
      align-items:center;
      li{
        @include a-v("margin-top", 0);
        @include a-v("margin-right", 5);
        @include a-v("margin-bottom", 0);
        @include a-v("margin-left", 0);
        @include a-v("padding-top", 0);
        @include a-v("padding-right", 0);
        @include a-v("padding-bottom", 0);
        
        a{
          color: #F4F4F4;
          margin: auto 0;
        }
      }
      li + li{
        @include a-v("padding-left", 5);
        @include border("border-left", 1, solid, #F4F4F4);
      }
    }
  }
}


.page {
  &__content {
  }
  &__content-wrapper {
    width: 100%;
  }
  &__main-title{
    @include a-v("font-size", 36);
    @include a-v("line-height", 36);
    @include a-v("padding-top", 26);
    @include a-v("padding-bottom", 30);
    // @include shadow("text-shadow", 1, 1, 0, #6D4169);
    font-family: 'Roboto-Bold';
    font-weight: 700;
    color: #1A1A1A;
    text-align: center;
  }
  &__content-inner {
    @include a-v("padding-top", 30);
    @include a-v("padding-right", 30);
    @include a-v("padding-bottom", 30);
    @include a-v("padding-left", 30);
    @include a-v("margin-bottom", 30);
    @include a-v("border-radius", 12);
    @include border("border", 2, solid, #FF9567);
    @include shadow("box-shadow", 0, 0, 15, rgba(0, 0, 0, 0.15));
    background-color: #FFEFEA;
    // backdrop-filter: blur(6px);
    width: 100%;
    position: relative;
  }
  &__content-inner::before{
    content:"";
    @include a-v("width", 65);
    @include a-v("height", 65);
    @include a-v("top", -13);
    @include a-v("right", -13);
    position: absolute;
    background-image: url(../images/vector-bg-content.svg);
    background-size: contain;
    background-repeat: no-repeat;
    // opacity: 0.9;
  }
  &__content-inner::after{
    content:"";
    @include a-v("width", 65);
    @include a-v("height", 65);
    @include a-v("bottom", -13);
    @include a-v("left", -13);
    position: absolute;
    background-image: url(../images/vector-bg-content-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    // opacity: 0.9;
  }
  &__content-title {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    @include a-v("font-size", 24);
    @include a-v("line-height", 26);
    @include a-v("padding-bottom", 15);
    @include a-v("margin-bottom", 15);
    // @include shadow("text-shadow", 1, 1, 0, #6D4169);
    @include border("border-bottom", 3, solid, rgba(255, 149, 103, 0.5));
    color: #1A1A1A;
    width: 100%;
  }
  &__content-subtitle {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    @include a-v("font-size", 20);
    @include a-v("line-height", 20);
    // @include shadow("text-shadow", 1, 1, 0, #777);
    color: #555555;
    width: 100%;
  }
  &__content-text {
    
    @include a-v("font-size", 15);
    @include a-v("line-height", 20);
    @include a-v("margin-top", 15);
    // @include shadow("text-shadow", 1, 1, 0, #777);
    color: #555555;
  }
  &__content-text-wrapper{
    display: flex;
  }
  &__content-text-wrapper p:first-child{
    @include a-v("width", 325);
    @include a-v("padding-right", 15);
  }
  &__content-text-wrapper p:last-child{
    @include a-v("width", 915);
    @include a-v("padding-left", 15);
    @include border("border-left", 3, solid, rgba(255, 149, 103, 0.5));
  }
}
.page__content-text-wrapper + .page__content-text-wrapper p{
  @include a-v("padding-top", 15);
}
.page__content-text iframe{
  @include a-v("height", 450);
  @include a-v("margin-top", 15);
  @include a-v("border-radius", 12);
  width: 100%;
}
.file{
  @include a-v("padding-left", 25);
  position: relative;
}
.file::before{
  content:"";
  @include a-v("width", 16);
  @include a-v("height", 20);
  position: absolute;
  top:50%;
  transform: translatey(-50%);
  left: 0;
  background-image: url(../images/document.svg);
  background-repeat:no-repeat;
  background-size: contain;
}


.footer{
  @include a-v("padding-top", 20);
  @include a-v("padding-right", 0);
  @include a-v("padding-bottom", 20);
  @include a-v("padding-left", 0);
  background-color: #F4744B;
  color: #F4F4F4;
  .footer__items{
    display: flex;
    .footer__item-1{
      @include a-v("width", 400);
      @include a-v("padding-top", 10);
      @include a-v("padding-right", 10);
      @include a-v("padding-bottom", 10);
      @include a-v("padding-left", 0);
      @include border("border-right", 1, solid, #F4F4F4);
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      text-align: center;
      .h2{
        @include a-v("font-size", 26);
        @include a-v("line-height", 34);
        font-family: 'Roboto-Bold';
        font-weight: 700;
      }
    }
    .h5{
      @include a-v("font-size", 16);
      @include a-v("line-height", 16);
    }
    .footer__item-2{
      @include a-v("padding-top", 20);
      @include a-v("padding-right", 20);
      @include a-v("padding-bottom", 20);
      @include a-v("padding-left", 20);
      .footer__item-text{
        p{
          @include a-v("padding-top", 10);
          @include a-v("padding-right", 0);
          @include a-v("padding-bottom", 0);
          @include a-v("padding-left", 0);
          span{
            font-family: 'Roboto-Bold';
          }
        }
      }
    }
  }
}

.menu{
  &__wrapper{
    position: absolute;
    top: -65%;
    left:50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    background-color: #FFF8F6;
    color: #1A1A1A;
  }
  &__title{
    font-family: 'Roboto-Bold';
    font-weight: 700;
    text-align: center;
  }
  &__wrapper-col{
    display: flex;
    justify-content: center;
  }
  
  &__main-left{

  }
  &__main-right{

  }
}
.menu__wrapper--active{
  @include a-v("width", 1400);
  @include a-v("font-size", 16);
  @include a-v("line-height", 20);
  @include a-v("padding-top", 40);
  @include a-v("padding-right", 40);
  @include a-v("padding-bottom", 40);
  @include a-v("padding-left", 40);
  height: 100vh;
  opacity: 1;
  overflow: auto;
  .menu__title{
    @include a-v("font-size", 26);
    @include a-v("line-height", 60);
  }
  .menu__wrapper-col{
    @include a-v("border-radius", 30);
    @include border("border", 1, solid, #FF9567);
    width: 60%;
    margin: 0 auto;
    background-color: #FFEFEA;
  }
  .menu__col{
    @include a-v("padding-top", 40);
    @include a-v("padding-right", 40);
    @include a-v("padding-bottom", 40);
    @include a-v("padding-left", 40);
    width: 50%;
    
    ul{
      li{
        @include a-v("margin-top", 10);
        @include a-v("margin-right", 0);
        @include a-v("margin-bottom", 10);
        @include a-v("margin-left", 0);
        a{
          color: #555;
        }
      }
    }
  }
}

.header__menu--active{
  .header__menu-btn{
    @include a-v("width", 36);
    @include a-v("height", 32);
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
  }
  .header__menu-btn-line{
    @include a-v("width", 26);
    @include a-v("height", 0);
    @include a-v("border-radius", 2);
    position: relative;
  }
  .header__menu-btn-line::before{
    content:"";
    @include a-v("top", -1);
    @include a-v("width", 26);
    @include a-v("height", 3);
    transform: rotate(45deg);
    background-color: #F4744B;
  }
  .header__menu-btn-line::after{
    content:"";
    @include a-v("bottom", -2);
    @include a-v("width", 26);
    @include a-v("height", 3);
    transform: rotate(-45deg);
    background-color: #F4744B;
  }
}
@import "media";